
.player {
  height: 529px;
  box-shadow: 0px 24px 54px -12px rgba(94, 97, 120, 1);
  left: 50%;
  top: 20%;
  border-radius: 10%;
}

.player .cover {
  width: 230px;
  position: relative;
  left: 35%;
  transform: translateX(-115px);
  top: -40px;
  box-shadow: 5px 20px 50px 0px rgba(17, 17, 17, 0.4);
  border-radius: 50%;
}

@media (max-width: 600px) {
	.player .cover {
    left: 25%;
  }
}

.player .info {
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  letter-spacing: 1px;
}

.player .info .title {
  font-size: 2em;
  margin: 0;
  color: #8DB952;
  font-weight: bold;
}

.player .info .artist {
  font-weight: bold;
  font-size: 1.5em;
  color: #7E858B;
}

.player .line {
  height: 3px;
  width: 100%;
  background-color: #8DB952;
  margin: 2rem auto;
  }

.player .playtime {
  background-color: rgba(114, 230, 207, 0.3);
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.player span{
  color:#8DB952;
}

.player span:hover {
  cursor: pointer;
  transform: scale(1.1);

}

.player .select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .forward {
  margin-left: 80px;
  color: #7E858B;

}

.player .backward {
  margin-right: 80px;
  color: #7E858B;
}

.player .fa.fa-volume-up {
  color: #fff;
}

.select .backward,
.select .forward {
    cursor: pointer;
}

.select .backward:hover,
.select .forward:hover {
	color: #000;
  transform: scale(1.1);
}

.rotate360 {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
