
.player {
  height: 529px;
  background: #6b6d83;
  box-shadow: 0px 24px 54px -12px rgba(94, 97, 120, 1);
  left: 50%;
  top: 20%;
}

.player .cover {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translateX(-115px);
  top: -40px;
  box-shadow: 5px 20px 50px 0px rgba(17, 17, 17, 0.4);
}


.player .info {
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "Open Sans";
  letter-spacing: 1px;
}

.player .info .title {
  font-size: 2em;
  margin: 0;
  color: #8db952;
  font-weight: bold;
}

.player .info .artist {
  color: #fff;
}

.player .line {
  height: 3px;
  width: 100%;
  background-color: #525363;
  margin: 3rem auto;

  }

.player .playtime {
  background-color: rgba(114, 230, 207, 0.3);
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.player .played {
  background-color: #72e6cf;
  height: 5px;
  width: 300px;
  position: absolute;
  bottom: 0px;
}

.player .select {
  display: flex;
  justify-content: center;
}

.player .forward {
  margin-left: 80px;
  color: #fff;

}

.player .backward {
  margin-right: 80px;
  color: #fff;

}

.player .fa.fa-volume-up {
  color: #fff;

}

